/* color palette from http://www.palettefx.com/ */
body{
    background: url("") no-repeat center center fixed;
    background-color: #99bbdd;
}

.sidebar_wrapper {
    background: #445533; 
    width: 150px;
    height: 100%;
    position: fixed; 
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
.sidebar {
    color: #cceeff;
    padding: 5px;
}
.sidebar a{
    color: #5588aa;
}

.header_wrapper {
    /*background: #aaffaa; */
    position: absolute; 
    top:   0px; 
    left: 150px; 
    height: 150px;
    margin: 0px 0px 0px 0px; 
}

.content_wrapper{
    background: #777744; 
    position: absolute; 
    top: 150px; 
    left: 150px; 
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}
.content{
    /*background: #ccccff;*/
    min-height: 500px;
    min-width: 500px;
    max-width: 800px;
    color: #221100;
    margin: 10px;
    padding: 0px;
}
.content a{
    color: #331122;
}